
@{
    ViewBag.Title = "Ratings";
}

    <div class="container container-fluid">
        <h2>Rating page</h2>
        <ul class="nav nav-tabs mt-20">
            <li class="active">
                <a href="#universitiesRatingsTab" data-toggle="tab">Universities</a>
            </li>
            <li>
                <a href="#facultiesRatingsTab" data-toggle="tab">Faculties</a>
            </li>
            <li>
                <a href="#studyProgramsRatingsTab" data-toggle="tab">Study Programs</a>
            </li>
            <li>
                <a href="#coursesRatingsTab" data-toggle="tab">Courses</a>
            </li>
            <li>
                <a href="#lecturersRatingsTab" data-toggle="tab">Lecturers</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="universitiesRatingsTab" class="tab-pane active">
                @Html.Partial("/Views/Advisor/Ratings/Partials/_UniversitiesPartial.cshtml")

            </div>
            <div id="facultiesRatingsTab" class="tab-pane">
                @Html.Partial("/Views/Advisor/Ratings/Partials/_FacultiesPartial.cshtml")
            </div>
            <div id="studyProgramsRatingsTab" class="tab-pane">
                @Html.Partial("/Views/Advisor/Ratings/Partials/_StudyProgramsPartial.cshtml")
            </div>
            <div id="coursesRatingsTab" class="tab-pane">
                @Html.Partial("/Views/Advisor/Ratings/Partials/_CoursesPartial.cshtml")
            </div>
            <div id="lecturersRatingsTab" class="tab-pane">
                @Html.Partial("/Views/Advisor/Ratings/Partials/_LecturersPartial.cshtml")
            </div>
        </div>
    </div>

