
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<ul class="nav nav-tabs mt-20">
    <li class="active">
        <a href="#universityTab" data-toggle="tab">Universities</a>
    </li>
    <li>
        <a href="#facultyTab" data-toggle="tab">Faculties</a>
    </li>
    <li>
        <a href="#studyProgramTab" data-toggle="tab">Study Programs</a>
    </li>
    <li>
        <a href="#courseTab" data-toggle="tab">Courses</a>
    </li>
    <li>
        <a href="#lecturerTab" data-toggle="tab">Lecturers</a>
    </li>
</ul>

<div class="tab-content">
    <div id="universityTab" class="tab-pane active">
        @Html.Partial("Partials/_UniversityFormPartial")
    </div>

    <div id="facultyTab" class="tab-pane">
        @Html.Partial("Partials/_FacultyFormPartial")
    </div>
    <div id="studyProgramTab" class="tab-pane">
        @Html.Partial("Partials/_StudyProgramFormPartial")
    </div>

    <div id="courseTab" class="tab-pane">
        @Html.Partial("Partials/_CourseFormPartial")
    </div>
    <div id="lecturerTab" class="tab-pane">
        @Html.Partial("Partials/_LecturerFormPartial")
    </div>
</div>

