@using Advisor.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container mt-100 d-flex justify-content-center">
    <div class="login-container">
        <h2>@ViewBag.Title</h2>
        <section id="loginForm">
            @using (Html.BeginRouteForm("login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="mb-20">
                    @Html.LabelFor(m => m.Email, new { @class = "font-light" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-w-unset" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.LabelFor(m => m.Password, new { @class = "font-light" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control m-w-unset" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="mb-20 mt-5">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "font-light" })
                </div>
                <div class="mb-20">
                    <input type="submit" value="Log in" class="button" />
                </div>
                <p>
                    <a href="@Url.RouteUrl("register")">Register as a new user</a>
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
