@model Advisor.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="container mt-100 d-flex justify-content-center">
    <div class="login-container">
        <h2>@ViewBag.Title</h2>
        <section id="loginForm">
            @using (Html.BeginRouteForm("register", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="mb-20">
                    @Html.LabelFor(m => m.Email, new { @class = "font-light" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control m-w-unset" })
                </div>
                <div class="mb-20">
                    @Html.LabelFor(m => m.Password, new { @class = "font-light" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control m-w-unset" })
                </div>
                <div class="mb-20">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "font-light" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control m-w-unset" })
                </div>
                <div>
                    <input type="submit" class="button" value="Register" />
                </div>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
