@using Advisor.Models
@model Review

<form method="post">
    <div class="col-md-6 mt-20">
        <div class="form-group">
            <label for="university">Select university</label>
            <select name="university" class="form-control m-w-unset" id="university">
                <option selected disabled hidden>University</option>
                @foreach (University uni in ViewBag.Universities)
                {
                    <option value="@uni.Id">@uni.Title</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="program">Select study program</label>
            <select name="program" class="form-control m-w-unset" id="program">
                <option selected disabled hidden>Study program</option>
                @foreach (StudyProgram program in ViewBag.StudyPrograms)
                {
                    <option value="@program.Id">@program.Title</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="startyear-select">During which university year did you start your career?</label>
            @Html.DropDownListFor(
                r => r.CareerStartYear,
                new SelectList(new int[] { 1, 2, 3, 4 }),
                "Choose year",
                new { @class = "form-control m-w-unset" }
            )
        </div>

        <div class="form-group">
            <label for="salary">Salary</label>
            @Html.TextBoxFor(
                r => r.Salary,
                new { @type = "number", @class = "form-control m-w-unset", @placeholder = "My current salary is..." }
            )
        </div>

        <div class="form-group mt-20">
            @Html.CheckBoxFor(r => r.RelevantIndustry)
            <label for="RelevantIndustry">I am working in a relevant industry</label>
        </div>
    </div>
    <div class="col-md-6 mt-20">
        <div class="form-group">
            <label for="stars">Overall rating</label>
            <div class="stars">
                @for (int i = 0; i < 10; i++)
                {
                    <span onclick="starmark(this)" id="@i+overallStudyProgram" class="fa fa-star "></span>
                }
            </div>
        </div>

        <div class="form-group">
            <label for="stars">Difficulty</label>
            <div class="stars">
                @for (int i = 0; i < 10; i++)
                {
                    <span onclick="starmark(this)" id="@i+difficultyStudyProgram" class="fa fa-star"></span>
                }
            </div>
        </div>

        <div class="form-group mt-20">
            <label for="stars">Satisfaction level</label>
            <div class="stars">
                @for (int i = 0; i < 10; i++)
                {
                    <span onclick="starmark(this)" id="@i+satisfactionStudyProgram" class="fa fa-star "></span>
                }
            </div>
        </div>
    </div>

    <div class="col-md-12">
        @Html.TextArea("Text", new { @class = "form-control review-textarea w-100", @placeholder = "Enter your review... ", @rows = 5 })
        <button type="submit" class="btn btn-primary mt-20 w-100">Submit</button>
    </div>
</form>
