@using Advisor.Models
@{
    ViewBag.Title = ViewBag.Faculty.Title;
}
<div class="faculty-container">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <h2>
                <i class="fas fa-university"></i>  @ViewBag.Faculty.Title
            </h2>
            <div class="stats-container mt-50">
                <h3 class="font-light">About</h3>
                <div class="about-section">
                    <p>
                        @ViewBag.Faculty.Description
                    </p>
                </div>
                <h3 class="font-light">Statistics</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Overall rating</th>
                            <td>@ViewBag.StatsData.OveralRating / 10</td>
                        </tr>
                        <tr>
                            <th>Number of study programs</th>
                            <td>@ViewBag.StatsData.StudyProgramCount</td>
                        </tr>
                        <tr>
                            <th>Level of satisfaction</th>
                            <td>@ViewBag.StatsData.Satisfaction / 10</td>
                        </tr>
                        <tr>
                            <th>Average graduate salary</th>
                            <td>@ViewBag.StatsData.AverageSalary €</td>
                        </tr>
                        <tr>
                            <th>Percentage of graduates working in relevant industry</th>
                            <td>@ViewBag.StatsData.RelevantIndustryPercentage %</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mt-20">
                @Html.Partial("_CompareButton", new ViewDataDictionary { { "Text", "Compare with other faculties" } })
            </div>

            <h3 class="font-light mt-20">Study programs (@ViewBag.StatsData.StudyProgramCount)</h3>
            <div class="programs-container">
                @foreach (StudyProgram studyProgram in ViewBag.Faculty.StudyPrograms)
                {
                    <div class="card">
                        <a href="@Url.RouteUrl("program_page", new { id = studyProgram.Id})">
                            <h4>@studyProgram.Title</h4>
                        </a>
                        @if (studyProgram.Reviews.Count > 0)
                        {
                            <div class="d-flex">
                                <div class="d-flex mr-5">
                                    <p class="mr-5">
                                        <i class="fas fa-star"></i>
                                    </p>
                                    <p class="mr-5">
                                        Overal @Math.Round(studyProgram.Reviews.Average(r => r.OveralRating), 2).ToString()
                                    </p>
                                </div>
                                <div class="d-flex mr-5">
                                    <p class="mr-5">
                                        <i class="fas fa-pencil-alt"></i>
                                    </p>
                                    <p class="mr-5">
                                        Reviews: @studyProgram.Reviews.Count.ToString()
                                    </p>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="card">
                        <a href="@Url.RouteUrl("program_page", new { id = studyProgram.Id})">
                            <h4>@studyProgram.Title</h4>
                        </a>
                        @if (studyProgram.Reviews.Count > 0)
                        {
                            <div class="d-flex">
                                <div class="d-flex mr-5">
                                    <p class="mr-5">
                                        <i class="fas fa-star"></i>
                                    </p>
                                    <p class="mr-5">
                                        Overal @Math.Round(studyProgram.Reviews.Average(r => r.OveralRating), 2).ToString()
                                    </p>
                                </div>
                                <div class="d-flex mr-5">
                                    <p class="mr-5">
                                        <i class="fas fa-pencil-alt"></i>
                                    </p>
                                    <p class="mr-5">
                                        Reviews: @studyProgram.Reviews.Count.ToString()
                                    </p>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="card">
                        <a href="@Url.RouteUrl("program_page", new { id = studyProgram.Id})">
                            <h4>@studyProgram.Title</h4>
                        </a>
                        @if (studyProgram.Reviews.Count > 0)
                        {
                            <div class="d-flex">
                                <div class="d-flex mr-5">
                                    <p class="mr-5">
                                        <i class="fas fa-star"></i>
                                    </p>
                                    <p class="mr-5">
                                        Overal @Math.Round(studyProgram.Reviews.Average(r => r.OveralRating), 2).ToString()
                                    </p>
                                </div>
                                <div class="d-flex mr-5">
                                    <p class="mr-5">
                                        <i class="fas fa-pencil-alt"></i>
                                    </p>
                                    <p class="mr-5">
                                        Reviews: @studyProgram.Reviews.Count.ToString()
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>

        <div class="col-md-7 col-sm-12">
            @{
                string address = ViewBag.Address.Replace(",", "").Replace(" ", "%20");
                string str = "https://maps.google.com/maps?q=" + address + "%20&t=&z=13&ie=UTF8&iwloc=&output=embed";
            }
            <iframe class="faculty-map" src=@str allowfullscreen></iframe>
        </div>
    </div>
</div>
